.cart-product-parent {
  position: relative;
  background-color: rgb(227, 245, 250);
  width: 100%;
  height: 100%;
}
.cart-product-main {
  background-color: white;
  position: absolute;
  margin-left: 20%;
  margin-top: 5%;
  width: 1500px;
  border-radius: 20px;
  padding: 3rem;
}

.cart-header {
  text-align: center;
  font-size: 42px;
  font-style: italic;
  font-weight: 500;
  margin-top: 15px;
}

.cart-product-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-header h1 {
  font-size: 25px;
  font-weight: 500;
}

.cart-product-header p {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-title p {
  font-weight: 600;
  font-size: larger;
}

.product-pieces {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.product-pieces p {
  font-size: 19px;
}

.product-pieces button {
  background-color: rgb(183, 180, 180);
  padding: 0.5rem 1rem;
  border-radius: 150px;
  color: white;
  font-weight: 500;
}

.product-price strong {
  font-size: 22px;
}

.product-price p {
  color: red;
  text-decoration: underline;
}

.sub-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2rem;
}

.sub-total h1 {
  font-size: 20px;
  font-weight: 600;
}

.total-items {
  display: flex;
  column-gap: 45px;
  align-items: center;
}

.price {
  font-size: 29px;
}

.sub-total button {
  display: inline-block;
  color: white;
  background-color: rgb(26, 168, 92);
  padding: 0.5rem 4rem;
  border-radius: 100px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 19px;
}

img {
  width: 200px;
}
